body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.menu {
    position: relative;
}

.menu-button {
    width: 40px;
    height: 40px;
    background-color: #3498db;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; /* Cela définit l'apparence du curseur lorsque vous survolez l'élément "menu-button". Il change le curseur en une main pointer, indiquant qu'il est cliquable. */

    transition: transform 0.3s; /*Cela indique que toute transition de transformation appliquée à l'élément, telle que le changement de l'échelle (scale) lors du survol, durera 0,3 secondes, créant ainsi une animation fluide.*/
}

.menu-button.active {
    transform: rotate(45deg); /*Cela définit une transformation sur l'élément. En l'occurrence, il fait tourner l'élément de 45 degrés dans le sens des aiguilles d'une montre lorsqu'il a la classe "active". Cette transformation applique une rotation à l'élément autour de son point d'origine (coin supérieur gauche, par défaut) de 45 degrés.*/
}

.menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50px;
    left: -50px;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.3s, opacity 0.3s;
    background-color: #3498db;
    border-radius: 50%;
    width: 200px;
}

.menu-items.active {
    transform: scale(1); /*  La propriété transform est utilisée pour appliquer des transformations 2D ou 3D à un élément HTML. Dans ce cas, scale(1) signifie que l'élément n'est pas mis à l'échelle. Un facteur d'échelle de 1 signifie que l'élément conserve sa taille d'origine, sans agrandissement ou rétrécissement. */
    opacity: 1; 
}
/* En résumé, lorsque la classe "active" est ajoutée à un élément avec la classe "menu-items", il est mis à l'échelle à sa taille d'origine (1x) et devient complètement opaque (entièrement visible). */


.menu-items li {
    text-align: center;
    padding: 10px;
}

.menu-items a {
    text-decoration: none;
    color: #fff;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


