
div{
    width: 80%;
    height: 120px;
    border: 2px solid #333;
    margin: 10px auto;
}

.ex1{
    background:radial-gradient(closest-side circle, rgb(3, 3, 3), green, purple);
}
.ex2{
    background:radial-gradient(100px circle at top, rgb(60, 60, 41), rgb(218, 118, 5), rgb(234, 24, 94));
}
.ex3{
    background:radial-gradient(100px 50px at 25% 50%, yellow 40%, rgb(120, 6, 196) 60%, rgb(240, 9, 48));
}

