
body{
    background-color: rgb(46, 39, 39);
}


.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 6; }
    .div2 { grid-area: 1 / 1 / 2 / 2; }
    .div3 { grid-area: 1 / 2 / 2 / 5; }
    .div4 { grid-area: 1 / 5 / 2 / 6; }

    
.div1{
    width: auto;
    height: 20vh;
    display: flex;
    justify-content: center;
    background-color:  rgba(14, 14, 1, 0.295);

}


.div2{
    width: auto;
    height: 20vh;
    display: flex;
    justify-content: center;
  
    
    }

    .div3{
        width: auto;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
      
        
        }

        .div4{
            width: auto;
            height: 20vh;
            display: flex;
            justify-content: center;
            align-items: center;
            }

            .div4 a {
                border: solid 1px #fff7009e;
                height: 40px;
                width: 200px;
                display: flex;
                justify-content: center;
                text-align: center;
                align-items: center;
                background-color:#b800007a;
                text-decoration: none;
                color: #fff7009e;
            }
              
            h1{
                display: flex;
                justify-content: center;
                text-align: center;
            }
            
            
            nav{
                width: 100%;
                margin: 0 auto;
                position: sticky;
                top: 0px;
                list-style-type: none;
            }
            
            nav ul{
                list-style-type: none;
            }
            
            nav ul li{
                float: left;
                width: 25%;
                text-align: center;
                position: relative;
                list-style-type: none;
            }
            
            nav ul::after{
                content: "";
                display: table;
                clear: both;
    
            }
            
            nav a{
                display: block;
                text-decoration: none;
                color: #fff7009e;
                background-color:#b800007a ;
                padding: 10px 0px;
                border: solid 1px #fff7009e;
                
              
            }
            
            nav a:hover{
              
                border-bottom: none;
              
            }
            
            /* Ici je travaille sur ma class sous j'utilise le display: none pour cacher ma liste */
            
            .sous{    
                display: none;
                position: absolute;
                width: 100%;
                z-index: 1000; /* Pour que mon éléments en question passe par-dessus et j'utilise la position absolute pour retirer le flux  */
                list-style-type: none;
            margin-left: -39.9px;
            }
            
            /* Ici je travaille sur ma nav plus mes ul et li avec mon hover ce qui vas me servir pour mon hoover à avoir 
            placement en block*/
            
            nav > ul li:hover .sous{
                display: block;
        
            }
            .sous li{
                float: none;
                width: 100%;
                text-align: left;
            }
            .sous a{
                padding: 10px;
                border-bottom: none;
            }
            .sous a:hover{
                border-bottom: none;
                background-color:#b800007a ;
                list-style-type: none;
            }
            .deroulant > a::after{   /* Le symbole > ici me sert à cibler les enfants direct du conteneur parents et le :: de me sert à selectionner le pseudo-élément */
                font-size: 12px;
                
            }
            
            .conteneur{
              margin: 50px 20px;
              height: 1500px;
            }








